.map-container {
  width: 100%;
  height: 85vh;
}

#layerList {
  position: absolute;
  top: 65px;
  left: 60px;
  z-index: 1000;
  min-width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
}

.popupStatic {
  position: absolute;
  top: 105px;
  left: 60px;
  z-index: 1000;
  min-width: 250px;
  height: 200px;
  background-color: rgb(206, 35, 35);
  border-radius: 5px;
  overflow: auto;
}

#llHeader {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: aliceblue;
}
#llBody {
  padding-left: 8px;
}

#llIcon {
  position: absolute;
  top: 65px;
  left: 25px;
  z-index: 1000;
}

/* #mouse-position{
  position: absolute;
  top: 100px;
  left: 25px;
  z-index: 1000;
} */
.layer-list-position{
  position: relative;
}
#layerlist-query{
  position: absolute;
  bottom: 8px;
  right: 16px;
  z-index: 1000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);  
}
.fixed-table{
  height: 400px;
  overflow-y: scroll;
}

.ol-mouse-position{
  padding: 10px;
  top: 8px;
  right: 8px;
  position: absolute;
  background: #fff;
  border-radius: 10px;
}  
/* #drawFeatures {
  top: -100px;
  z-index: 1000;
  padding: 10px;
  position: relative;
} */
.point-btns{
  position: absolute;
  bottom: 0;
  left: 2px;
}

.ol-zoom-extent {
  top: 6.5em;
  left: 0.5em;
  position: absolute;
}

.ol-zoomslider {
  top: 9.1em;
  left: 0.5em;
  position: absolute;
  height: 200px;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";}